.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: 1rem;
}

footer {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem;
  text-align: center;
}
